@use "./colors" as *;

.small-image-style {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
    padding: 2px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.position-relative {
    position: relative;
}

/*COLUMN SETTING */
.col-33-1 {
    display: flex;
    width: calc(100% / 3);
    align-items: center;
}

.col-33-2 {
    width: calc(100% / 3 - 16.7px);
}

.col-50 {
    align-items: center;
    width: 50%;
    height: 100px;
}

/*JUSTIFY*/
.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

// FONT SETTINGS
.weight-700 {
    font-weight: 700;
}

.small-text {
    font-size: 10px;
}

h4 {
    font-size: 15px;
    margin: 20px 30px 10px 0;
}

main {
    margin-top: 50px;
    padding: 50px 0;
}

// CARD SETTING
.badges {
    position: absolute;
    left: 0;
    bottom: 110px;
    display: flex;

    .sostenibilità {
        padding: 5px 10px;
        margin-right: 5px;
    }
    .discount {
        padding: 5px 10px;
    }
}

/* CONTENT */
.content img {
    width: 100%;
}

// IMG SETUP
.img-fit {
    object-fit: fill;
}

/* HOVER SETUP */
.hover-img {
    display: none;
}

.content:hover .main-img {
    display: none;
}

.content:hover .hover-img {
    display: inline-block;
}

/* DISCOUNTS */
.gray-text-crossed {
    color: $gray;
    text-decoration: line-through;
}

/* HEART SETTINGS */
.heart {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 15px;
    font-size: 30px;
}

.heart:hover {
    color: $red;
}

.redHeart {
    color: $red;
}

.height-main {
    height: calc(90vh - 154px);
    overflow: hidden;
}
